.services_wrap {
    padding: 5em 0;
}
.services_wrap h3, .best_services h3 {
    color: #6ea145;
    font-size: 2em;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.service_item {
    text-align: center;
    margin: 2em 0 0;
}

.service_item img {
    display: block;
    margin: 0 auto;
}

.service_item h4 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0 0;
    color: #6ea145;
    font-family: 'Josefin Sans', sans-serif;
}

.service_item p {
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    margin: 1em 0 2em;
}

.more a:hover {
    background: #c6c5c0;
    color: #fff;
}

.service_hide {
    position: absolute;
    top: 0;
    left: 17%;
    width: 66%;
    height: 250px;
    background: rgba(110, 161, 69, 0.48);
    border-radius: 145px;
    -webkit-border-radius: 145px;
    -moz-border-radius: 145px;
    -o-border-radius: 145px;
    -ms-border-radius: 145px;
     display: none;
}

.service_hide h5 {
    font-size: 20px;
    color: #fff;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-top: 4em;
}

.service_hide p {
    font-size: 13px;
    color: #fff;
    width: 60%;
    text-align: center;
    margin: 1em auto 0;
    line-height: 1.7em;
}
.service_item:hover .service_hide{
    display: block;
}
/*banner*/
.services_banner {
    background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    min-height: 500px;
}

.banner_wrap {
    padding: 6em 0;
    position: relative;
}

.banner_wrap .banner_item {
    text-align: center;
}
 .service_info h3 {
    color: #fff;
    font-size: 4em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
}

.service_info p {
    color: #fff;
    font-size: 17px;
    line-height: 1.8em;
    width: 70%;
    margin: 1em auto 0;
}

.banner_nav {
    z-index: 2;
    position: absolute;
    width: 93px;
    height: 22px;
    margin: auto;
    top: 96%;
    left: 0;
    right: 0;
    bottom: 0;

}

.banner_nav li {
    display: inline-block;
    margin: 0 8px 0 0;
    text-indent: -9999px;
    width: 22px;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}
.banner_nav li.active {
    background: #6ea145;
}
/*
*/
.best_services {
    padding: 5em 0;
}

.best_item .item_left span {
    font-size: 3em;
    color: #c6c5c0;
}

.best_item .item_right h4 {
    color: #c6c5c0;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 0 0 1em;
}

.best_item .item_right p {
    color: #999;
    font-size: 14px;
    margin: 0;
    line-height: 1.8em;
}

/*适配开始*/

    @media (max-width:1024px){
        .service_hide p {
            width: 100%;
        }
        .service_hide {
            width: 80%;
            left: 10%;
        }
        .service_info h3 {
            font-size: 3em;
        }

        .services_banner {
            min-height: 405px;
        }
        .service_info p {
            width: 75%;
        }
        .item_right h4 {
            font-size: 1.3em;
        }
        .banner_nav{
            top:81%;
        }
    }

    @media (max-width:768px){
        .service_item {
            float: left;
            width: 33.33%;
        }
        .service_hide {
            width: 87%;
            left: 6%;
            height: 210px;
        }
        .service_item h4 {
            font-size: 1.2em;
        }
        .service_info h3 {
            width: 100%;
        }
        .item_right {
            margin: 0 0 2em;
        }

        .banner_nav{
            top:78%;
        }
    }

    @media (max-width:640px){
        .service_hide h5 {
            padding-top: 2em;
        }
        .service_hide p {
            width: 98%;
        }
        .service_hide {
            width: 85%;
            left: 8%;
            height: 168px;
        }
         .services_wrap h3, .best_services h3 {
            font-size: 1.8em;
        }
        .service_info h3 {
            font-size: 2.5em;
        }
        .service_info p {
            font-size: 14px;
        }
        .services_banner {
            min-height: 335px;
        }
        .servc-grids:nth-child(2) {
            margin: 2em 0 0;
        }
        .banner_wrap {
            padding: 3em 0;
        }
        .banner_nav{
            top:96%;
        }
    }

    @media (max-width:480px){
        .more a {
            font-size: 15px;
            padding: 8px 20px;
        }
        .service_item {
            float: none;
            width: 80%;
            margin: 0 auto 2em;
        }
        .service_hide {
            width: 72%;
            left: 14%;
            height: 250px;
        }
        .service_info h3 {
            font-size: 2em;
        }
        .service_hide h5 {
            padding-top: 4em;
        }
    }

    @media (max-width: 320px){
       .best_item{
            padding: 0 !important;
        }
        .item_right p{
            font-size: 13px;
        }
        .service_item {
            width: 100%;
        }
        .service_hide {
            width: 84%;
            left: 8%;
            height: 250px;
        }
        .service_item p {
            font-size: 13px;
            margin: .5em 0 1em;
        }
        .service_item:nth-child(3) {
            margin: 0;
        }
        .service_info h3 {
            font-size: 1.5em;
        }
        .service_info p {
            font-size: 13px;
            width: 100%;
        }
        .services_banner {
            min-height: 290px;
        }
        .services_wrap h3, .best_services h3 {
            font-size: 1.6em;
        }
        .item_right h4 {
            font-size: 1em;
        }
        .glyphicon-apple, .glyphicon-grain, .glyphicon-heart, .glyphicon-globe {
            font-size: 2em;
        }
        .service_item{
            margin-top: 5px;
        }
    }